.section {
	padding: 3rem 5rem;

	& > div {
		max-width: 1400px;
		margin: 0 auto;
	}

	&:not(:first-of-type) {
		padding: 4rem 5rem;
	}
}

.flex-row {
	display: flex;
	justify-content: space-between;

	@include respond(bp900) {
		flex-direction: column;
	}
}
