.user-info {
	background-color: $color-dark-grey;
	box-shadow: $box-shadow-high;
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 1.5rem;
	border-radius: $border-radius;

	&__avatar {
		position: relative;
		display: flex;
		align-items: center;
		margin: 1rem;
		background: $color-main-gradient;
		border-radius: 100%;
		height: 120px;
		width: 120px;

		img {
			border-radius: 100%;
			transform: scale(0.95);
		}
	}

	&__name {
		font-size: 1.2rem;

		h1 {
			margin-bottom: 0rem;
		}
	}

	&__handle {
		font-size: 1rem;
		// margin-bottom: 1rem;
		color: $color-primary;
	}
}

.info {
	display: flex;
	justify-content: center;
	align-items: center;

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0.5rem;
		// white-space: nowrap;

		svg {
			margin-right: 10px;
		}
	}
}

.stats {
	display: grid;
	grid-template-columns: repeat(
		3,
		minmax(100px, 150px)
	);
	gap: 0.5rem;
	justify-content: center;
	margin-top: 2rem;

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: $color-medium-grey;
		padding: 0.5rem;
		border-radius: $border-radius-small;
		text-align: center;
	}

	.num {
		font-size: 1.5rem;
		color: $color-primary;
	}

	.num-label {
		text-transform: uppercase;
		font-size: 0.75rem;
		letter-spacing: 1px;
		margin-top: 0.25rem;
		color: $color-light-grey;
	}
}
