.user-form {
	margin: 10rem auto;
	padding: 2rem;
	width: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: $color-dark-grey;
	height: 50vh;
	border-radius: $border-radius;
	box-shadow: $box-shadow-low;

	form {
		background-color: transparent;
		text-align: center;
		svg {
			color: $color-primary;
		}
		label {
			display: block;
			font-size: 1rem;
			font-weight: 500;
			margin: 2rem;
		}
		input {
			background-color: $color-dark-blue;
			outline: 0;
			border: 0;
			border-radius: 0.25rem;
			width: 80%;
			max-width: 500px;
			margin: 2rem auto;
			padding: 1rem;
			color: $color-medium-grey;
			font-family: 'Open Sans',
				sans-serif;

			font-size: 2rem;
			font-weight: 400;
			text-align: center;
		}

		button {
			background-image: $color-main-gradient;
			font-family: Monaco;
			font-size: 16px;
			color: #000000;
			padding: 1rem 3rem;
			border-radius: 0.5rem;
		}
	}
}
