// Colors
$color-dark-blue: #26272e;
$color-dark-grey: #292a30;
$color-medium-grey: #5d6168;
$color-light-grey: #a1a1a5;
$color-primary: #02f69b;
$color-white: #d3d3dc;
$color-main-gradient: linear-gradient(
	68deg,
	#02fd98 0%,
	#0575e6 100%
);

// Shadows
$box-shadow-high: 0 5px 30px -15px rgba(0, 0, 0, 0.2);
$box-shadow-low: 0 10px 30px -15px rgba(0, 0, 0, 0.2);

$box-shadow-hover: 0 8px 20px -15px rgba(0, 0, 0, 0.2);

// Misc
$border-radius: 8px;
$border-radius-small: 0.25rem;
$transition-main: all 0.2s ease-in-out;
